
<body>
        
    
    
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
           <div class="box_1620">
               <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h3 style="scroll-padding-top: 20px;">20 Years</h3>
                        <a class="main_btn" routerLink="/cust_year_card" routerLinkActive="active">Explore Customers Gallery</a>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <a class="main_btn" routerLink="/yearcards" routerLinkActive="active">Explore Events Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    
    <!--================Home Blog Area =================-->
    <section class="home_blog_area pad_top">
        <div class="container">
            <div class="home_blog_inner">
                <div class="row h_blog_item">
                    <div class="col-lg-6">
                        <div class="h_blog_img ">
                            <img class="img-fluid" src="assets/img/home-blog/tn4.png" height="500px" width="700px" alt="">
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="h_blog_text">
                            <div class="h_blog_text_inner left border border-dark">
                                <h4>Progress through the<br />years of our company! </h4>
                                
                                <a class="main_btn2" >Explore Gallery</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row h_blog_item">
                    <div class="col-lg-6">
                        <div class="h_blog_text">
                            <div class="h_blog_text_inner right border border-dark">
                                <h4>Unforgettable <br />Moments !</h4>
                                
                                <a class="main_btn2" href="#">Explore Gallery</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="h_blog_img border">
                            <img class="img-fluid" src="assets/img/home-blog/mm5.png" height="500px" width="500px" alt="">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--================End Home Blog Area =================-->
    
    <!--================Service Area =================-->
    <section class="service_area p_120">
        <div class="container box_1620">
            <div class="main_title">
                <h2>Milestones</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="row m0 service_inner">
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_img">
                        <img class="img-fluid" src="assets/img/service/service-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_text">
                        <h4>Spreading <br />Peace to world</h4>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_img">
                        <img class="img-fluid" src="assets/img/service/service-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_text">
                        <h4>Spreading <br />Peace to world</h4>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_text">
                        <h4>Spreading <br />Peace to world</h4>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_img">
                        <img class="img-fluid" src="assets/img/service/service-3.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_text">
                        <h4>Spreading <br />Peace to world</h4>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p0">
                    <div class="service_img">
                        <img class="img-fluid" src="assets/img/service/service-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
